*{
    margin: 0;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    
}

body{
    overflow-x: hidden;
}

.menu{
    background-color: #111;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color:#f9f9f9;
    z-index: 999;
}

.riote{
    fill: #f9f9f9;
    margin-right: 20px;
}

.items{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    flex:2.5;
}
.items li{
    margin-right: 50px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}

i{
    padding-left: 8px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: end;
    flex:1;
}

.login a{
    text-decoration: none;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
}

.login a:nth-child(2){
    color:#f9f9f9;
    background-color: #333 ;
}
.login a:nth-child(3){
    color:#111;
    background-color:rgb(11, 198, 227);
}

.items li ul{
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto;
    top:20px;
    background-color: #404040;
    z-index: 999;
    transition: all .2s ease-in-out;
    width:0px;
    height: 0px;
}

.items li ul li{
    font-weight: 500;
    padding: 10px;
    display: none;

}

.items li:hover ul{
    width: 150px;
    height: auto;
    min-height: 100px;
    border-top: 4px solid rgb(11, 198, 227);
    padding: 10px;
}
.items li:hover ul li{
    display: block;
}

.header{
    width: 100%;
    height: 70vh;
    position: relative;
}

.header video{
    object-fit:cover
}

.video{
    position: absolute;
    top:14%;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    height: 90%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    width: 98%;
    height: 100%;
    position: absolute;
    padding: 5px 0px;
    left: 10px;
    animation: border 2s;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
}
.video .border-btn{
    width: 210px;
    height: 50px;
    border: 1px solid white;
    position: absolute;
    left:50%;
    padding: 7px 8px;
    bottom: 17%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 5;
    transform: translateX(0%);
    cursor: pointer;
    transition: all .4s ease;
    text-transform: uppercase;
    animation: showbtn 1s;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
   
}

.header video:first-child{
    width: 100%;
    height: 90%;
    filter:blur(4px);
}
.header video:last-child{
    width: 100%;
    height: 100%;
}

.video img{
    position: absolute;
    width: 100%;
    max-width: 599px ;
    top:10%;
    animation: show 2s;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top:14%;
    }
}
@keyframes border {
    0% {
        border-top:2px solid #d69a3b
    }
    30% {
        border-right:2px solid #d69a3b
    }
    60% {
        border-bottom:2px solid #d69a3b
    }
    90% {
        border-left:2px solid #999
    }
    100%{
        border:2px solid #999
    }
}
@keyframes showbtn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}
@keyframes showbtn2 {
    0% {
        opacity: 0;
        padding: 20px 50px;
        transform: scale(6);
        filter:blur(10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        padding: 20px 50px;
        transform: scale(1);
        filter:blur(0px);
    }
}
@keyframes transition {
    0% {
        opacity: 1;
        transform:rotate(20deg) translateY(-200%) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(400%);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
@keyframes video {
    0%{
        left:-40%;
    }
    100% {
        left:10%
    }
}

.playnow{
    position: absolute;
    border: none;
    background-color:rgb(11, 198, 227);
    color:#111;
    bottom:18%;
    z-index: 3;
    cursor: pointer;
    padding: 0px;
    opacity: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    animation: showbtn2 .4s;
    animation-delay: 1s;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
    
}

.border-btn:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.content{
   height: 100vh;
   width: 100%;
   position: relative;
   border-top: 100px solid #f9f9f9;
   top:-10px;
   display: flex;
   flex-direction: column;
    align-items: center;
}

.imagem-circle{
    position: absolute;
    width: 50%;
    top:10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.transition{
    width: 1000px;
    transform: rotate(20deg);
    background-color: #f9f9f9d2;

    height: 200px;
    opacity: 0;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
    z-index: 4;
}

.imagem-circle{
    position: absolute;
    top:-200px;
    right: 0;
}

.imagem-circle img{
    width: 100%;
    z-index: 1;
}

.imagem-circle .circle{
    position: absolute;
    width: 90%;
    height: 80%;
    overflow: hidden;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    border-top: solid 8px #fbba51;
    border-left: 1px solid gray;
    border-bottom: solid 8px #fbba51;
    border-right: 1px solid gray;
    background-color: white;
    z-index: 1;
}
.imagem-circle .limit{
    position: absolute;
    width: 90%;
    height: 80%;
    overflow: hidden;
    border-radius: 50%;
    z-index: 3;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.info .subtitle{
    position: relative;
    top:20px;
    font-size: 40px;
    font-family: 'Cuprum', sans-serif;
    letter-spacing: 2px;
}
.info .title{
    position: relative;
    font-size: 100px;
    font-family: 'Allerta Stencil', sans-serif;
    font-style: italic;
}

.info .desc{
    font-family: 'Cuprum', sans-serif;
    color:#333;
    letter-spacing: 1px;
    width: 80%;
    text-align: center;
}

.info .groupButton{
    margin-top: 20px;
    display: flex;
}

.info .groupButton button{
    width: 200px;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    color:#fff;
}

.info .groupButton button:first-child{
    margin-right: 10px;
    background-color: #fbba51;
}
.info .groupButton button:last-child{
    margin-right: 10px;
    background-color:#0bc6e3;
}
.linha-do-tempo{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.linha-do-tempo .img{
    position: relative;
}
.linha-do-tempo .icon{
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
}

.linha-do-tempo .icon.actived{
    width: 50%;
}

.estamp{
    width: 50px;
}

.estamp.actived{
    fill:#d69a3b;
}

.classes{
    position: absolute;
    display: flex;
    margin-left: 10px;
    top:100px;
    width: 100%;
}

.classe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 5%;
}

.bolinha{
    top:60px;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #333;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
    z-index: 9;
}

.lineup {
    position: absolute;
    height: 14px;
    width: 2px;
    top:72px;
    background-color: #fbba51;;
}

.circleActived{
    position: absolute;
    top:86px;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: 2px solid #fbba51;
}

.lines{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 10px;
    top:195px;
    left: 0px;
    width: 80%;
    height: 1px;
    background-color: #333;
}

.videoclasses{
    position: relative;
    width: 100%;
    max-width: 500px;
    top:250px;
    left:10%;
    animation-fill-mode:forwards; /* o keyframes vai ser o resultado final */
}

.videoclasses video{
    width: 100%;
}

.videoclasses .border{
    left: 6px;
    top:-6px;
    width: 100%;
}
